
Dokumentation/.gitkeep
Dokumentation/Anforderungsspezifikation/.gitkeep
Src/.gitkeep
Src/Code/.gitkeep
Src/Logo/.gitkeep
Src/Tests/1 Profil anlegen/.gitkeep
Dokumentation/Präsentationen/.gitkeep
Dokumentation/Projektmonitoring/.gitkeep
Dokumentation/Projektplan/.gitkeep
*.gitkeep